.player-spot {
    background-color: #223043;
    width: 100%;
    margin-left: -10px;
}
.player-container {
    background-color: #223043;
    width: 70%;
    display: inline-block;
    margin: auto;
    padding: 20px;
}
.player-container-inner {
    width: 90%;
}
.video-iframe {
    width: calc( 60vw - 40px );
    height: calc( ( 60vw - 40px ) * 0.5625 );
}